# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# IDE
.vscode/
.idea/

# Project Output/Data
output/
data/
models/
*.npy
*.bvh
*.json
!default_calibration.json

# Large files / Archives
*.zip
*.tar
*.tar.gz
input.mp4
